.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.nav{
    width: 30%;
    height: 100%;
    background-color: rgb(241, 244, 248);
    align-items: center;
}
.nickname{
  font-size: 16px;
  display: flex;
  width: 100%;
}
.nav-avatar{
    width: 95%;
    display: flex;
    height: 13.5%;
    padding-left: 2%;
    padding-top: 2%;
}
.clk{
  display: flex;
  margin-top: 4%;
  margin-left: 2%;
  background-color: white;
  border: 1px solid rgb(225, 228, 231);
  border-radius: 25px;
  width: 95%;
  
}

.dff{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: white;
  width: 80%;
}
.avatar{
    border-radius: 100%;
    width: 13%;
    height: 100%;
}
.dlupa{
  display: flex;
  justify-content: center;
  width: 15%;
  border-radius: 25px 0 0 25px;
  background-color: white;
}
.dph{
  display: flex;
  justify-content: center;
  border-left: 1px solid rgb(225, 228, 231);
  width: 15%;
}
.lupa{
  align-self: center;
  margin-right: 5%;
  margin-bottom: 5%;
  height: 50%;
  width: 50%;
}
.ph{
  align-self: center;
  height: 50%;
  border-left: whitesmoke;
  width: 50%;
}
.dlr{
  margin-top: 2.5%;
  color: rgb(153, 162, 173);
  vertical-align: middle;
  font-size: small;
  align-self: center;
  padding-left: 10%;
  
  width: 100%;
}
.ff{
  color: rgb(153, 162, 173);
  justify-self: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.myname{
  margin-left: 2%;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}
.lts{
  width: 60%;
  vertical-align: middle;
}
.mnt{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  vertical-align: middle;
}
.imnt{
  height: 100%;
  width: 20%;
  
}

.selected{
  background-color: rgb(160, 220, 240);
}
.nav-find-input{
    width: 94%;
    
    margin-left: 2%;
}

.chtc{
  display: flex;
  flex-direction: row;
}
.chtt{
  align-self: center;
}
.chti-bell{
  width: 40%;
  align-self: center;
}
.chti{
  
  width: 25%;
  align-self: center;
}
.cht{
  display: flex;
  flex-direction: column;
}
.nav-mbtn{
  margin-top: 5%;
  font-size: small;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /*height: 100%;*/
}
.nav-mbtni{
    width: 45%;
}
.nav-mbtnii{
  width: 37.24%;
}
.colli{
  align-self: center;
  width: 25%;
}
.colt{
  margin-left: 3%;
  align-self: center;
}
.rowt{
  display: flex;
  color: rgb(177, 157, 157);
  font-size: small;
  justify-content: flex-end;
}

.row{
  display: flex;
  color: rgb(177, 157, 157);
  font-size: small;
}
.fl{
  width: 35%;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(225, 228, 231);
  border-radius: 25px;
  padding-left: 5%;
  padding-right: 5%;
}
.ras{
    width: 100%;
    margin-left: 5%;
}
.rc{
    margin-left: 2%;
    margin-top: 2%;
}

.user{
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
}


.col{
    display: flex;
    flex-direction: row;    
    width: 95%;
}
.nav-block-name-mes{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
}
.clmnn{
    display: flex;
    flex-direction: column;
  width: 100%;}
  .clmn{
    display: flex;
    flex-direction: column;
}
.day{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    justify-content: flex-end;
    margin-right: 4%;
    margin-top: 2%;
    color: rgb(153, 162, 173);
}
.hit{
  font-size: larger;
  color: black;
  font-size: x-large;
}
.content{
    width: 100%;
    height: 100%;
}
.about{
    display: flex;
    width: 100%;
    padding-top: 2%;
    border-bottom: 1px solid;
}
.st{
  width: 100%;
}
.status{
  
  font-size: larger;
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    color: rgb(153, 162, 173);
}
.circle{
  background-color: rgb(241, 244, 248);
  
  justify-content: center;
  vertical-align: middle;
  display: flex;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-left: 2%;
  
}
.ccircle{
  background-color: rgb(241, 244, 248);
  align-self: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-left: 2%;
  
}
.scircle{
  background-color: rgb(241, 244, 248);
  border-radius: 25px 0 0 25px;
  border: 0px;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  
  margin-left: 2%;
  
}
.pic{
  display: flex;
  margin-right: 3%;
  margin-bottom: 1%;
}
.picc{
  display: flex;
  justify-content: center;
}
.pic-img{
    
    align-self: center;
    width: 50%;     
}

.mes-btn-img{
    height: 10%;
}
.magic{
    width: 80%;
    margin-left: 5%;
}
.messages{
  color: rgb(153, 162, 173);
}
.mess{
    height: 100vh;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

.obrm{
  display: flex;
	flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}
.obrn{    
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }

.my{    
  max-width: 50%;
    background-color: rgb(160, 220, 240);
    border-radius: 20%;
    padding: 1%;
   
}
.avatarm{
  border-radius: 100%;
  width: 6%;
  margin-right: 1%;
}
.nme{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: larger;
    margin-bottom: 1%;
    background-color: rgb(225, 228, 231);;
    border-radius: 20%;
    padding: 1%;
}
.ne{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: larger;
  margin-bottom: 1%;
  background-color: lightblue;
  border-radius: 20%;
  padding: 1%;
}
.inputs{
     display: flex;
     flex-direction: row;
  }
  .mes-btn-img{
    height: 100%;
}
.tm{
  align-self: flex-end;
}
.bot{
    position: fixed;
    bottom: 2%;
    width: 60%;
        
}
.pal{
  margin-left: 2%;
  margin-right: 2%;
}

.pall{
  
  margin-right: 2%;
}
.smile{
  width: 100%;
  
  align-self: center;
}

.inputs{
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
}
  .inp{
    border-radius:  0 25px 25px 0 ;
    border: 0px;
    align-self: center;
    height: 95%;
    width: 80%;
    background-color: rgb(241, 244, 248);
  }
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }